.pagination .ul {
   display: flex;
   gap: 2;
}

.pagination .list {
   list-style: none;
   cursor: pointer;
   margin: 0 3px;
}

.pagination .btn {
   padding: 15px;
   border: none;
   border-radius: 5px;
}

.pagination .btn.active {
   background-color: rgb(169 118 240);
}