@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,500;1,8..144,400&family=Roboto:wght@100&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
}

a {
   text-decoration: none;
}

.nav-link {
   color: white;
}

.container {
   height: 100vh;
   width: 100%;
   display: grid;
   background-color: white;
   grid-template-columns: 250px auto;
   grid-template-rows: 80px;
   grid-template-areas:
      "sidebar header"
      "sidebar content"
}

#header {
   grid-area: header;
   background-color: white;
   border-bottom: 1px #eaf1f5;
   border-bottom-style: groove;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#header>div {
   display: flex;
   align-items: center;
   gap: 5px;
}

#content {
   grid-area: content;
   margin: 10px;
}

#side_bar {
   grid-area: sidebar;
   padding: 12px;
   background-color: white;
   border-right: 1px #eaf1f5;
   border-right-style: groove;
}

.logoDiv {
   height: 80px;
   background-color: white;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.userSection {
   padding: 10px;
   border-bottom: 1px #eaf1f5;
   border-bottom-style: groove;
}

.link-heading {
   display: flex;
   align-items: center;
   margin: 15px 0px 0px 0px;
   padding: 0.58em 1.428em;
}

.navLinks {
   display: flex;
   height: 35px;
   align-items: center;
   border-radius: 10px;
   cursor: pointer;
}

.navLinks>a {
   width: 100%;
   height: 100%;
   padding: 0.58em 1.428em;
}

.navLinks>a>span {
   margin: 0.5rem;
}

.userSection>ul>.navLinks:hover {
   background-color: #f3f3fa;
}

.table-container {
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   border: 1px #cadbe6 groove;
   display: flex;
}

.table {
   flex-grow: 1;
   margin: 0;
   border-spacing: 0;
}

th,
td {
   flex: 1;
   margin: 0;
   border-bottom: 1px groove #e0e0e0;
   padding: 20px;
   text-align: left;
}

.link-style {
   text-decoration: none;
   color: #007bff;
}

.table th:nth-child(1),
.table td:nth-child(1) {
   width: 1%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
   width: 55%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
   width: 1%;
}

.table th:nth-child(n+3),
.table td:nth-child(n+3) {
   width: 2%;
}

.table-row {
   max-height: 0;
   overflow: hidden;
   opacity: 0;
   transition: visibility .1s linear, opacity .1s linear;
}

.opened {
   opacity: 1;
   max-height: 15rem;
   background-color: #007bff;
}